html, 
body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Muli', sans-serif;
}


.nav-bar{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 20;
  background-color: rgba(54, 36, 27, .8)
}

.nav-bar-options{
  list-style: none;
  display: flex;
  padding: 0;
}

.nav-bar-options li{
  padding: 0 25px;
}

.nav-bar-options li a{
  text-decoration: none;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}



.hero{
  background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(../images/hero-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 95vh;
  text-align: start;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-container h1{
  margin: 0;
  font-size: 170px;
  font-weight: 300;
}

.hero-container p{
  font-size: 70px;
  margin: 0;
  font-family: 'Stalemate', cursive;
}



.about-section, .menu-section{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1800px;
  margin: 0 auto;
  box-sizing: border-box;
}

.section-id{
  padding-top: 2.1vw;
  text-transform: uppercase;
  font-size: 20px;
  color: #AE7954;
  font-weight: 700;
}

.about-container{
  box-sizing: border-box;
  padding: 5% 10%;
}

.about-container:before{
  content: url(../images/icon-separator.png);
  position: relative;
  z-index: -1;
  bottom: -25px;
}

.content-about-subtitle{
  font-family: 'Stalemate', cursive;
  font-size: 70px;
  margin: 0;
}

.content-about-description{
  font-size: 25px;
  line-height: 1.6;
}



.section-separator{
  background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url(../images/sections-separator-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-separator p{
  font-family: 'Stalemate', cursive;
  font-size: 70px;
  margin: 0;
  color: white;
}



.menu-container{
  width: 100%;
  box-sizing: border-box;
  padding: 5% 5%;
}

.menu-items-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  justify-content: space-around;
  gap: 5%;
  padding: 3% 0;
}

.img-item-container{
  margin: 0;
  height: 100%;
  width: 100%;
}

.img-item-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.button-container{
  max-width: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.menu-button{
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: #a0642c;
}



.contact-section{
  background-color: #ebe2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-container{
  max-width: 700px;
  padding: 2% 5%;
}

.contact-description{
  padding: 0 15%;
}

.contact-form{
  padding: 3% 0;
  box-sizing: border-box;
}

.form-content {
  box-sizing: border-box;
  text-align: left;
}

.form-content input[type="text"], textarea {
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: white;
  border: none;
  border-radius: 5px;
}

.form-content input[type="submit"]{
  width: 100%;
  padding: 10px;
  border: none;
  color: white;
  font-weight: 700;
  background-color: #AE7954;
}

.contact-media{
  margin-top: 20px; 
}

.social-media-icons a{
  text-decoration: none;
  color: #A04D2C;
}



footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #36241B;
  color: white;
}