html, 
body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Muli', sans-serif;
  scroll-behavior: smooth;
}


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?fynqng');
  src:  url('../fonts/icomoon.eot?fynqng#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?fynqng') format('truetype'),
    url('../fonts/icomoon.woff?fynqng') format('woff'),
    url('../fonts/icomoon.svg?fynqng#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}

.burger-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #36241B; 
  display: none; 
  line-height: 40px;
  text-align: center; 
  position: fixed;
  z-index: 30;
  left: 5px;
  top: 5px;
  color: white;
}



.nav-bar{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
  position: fixed;
  z-index: 20;
  background-color: rgba(54, 36, 27, .8);
  animation: fadeInDown;
  animation-duration: 1s;
}

.nav-bar-options{
  list-style: none;
  display: flex;
  padding: 0;
}

.nav-bar-options li{
  padding: 0 25px;
}

.nav-bar-options li a{
  text-decoration: none;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
}



.hero{
  background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(../images/hero-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 95vh;
  text-align: start;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-container h1{
  margin: 0;
  font-size: 170px;
  font-weight: 300;
  animation: pulse;
  animation-duration: 2s;
}

.hero-container p{
  font-size: 70px;
  margin: 0;
  font-family: 'Stalemate', cursive;
}



.about-section, .products-section{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

.section-id{
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 20px;
  color: #AE7954;
  font-weight: 700;
}

.about-container{
  box-sizing: border-box;
  padding: 5% 10%;
}

.about-container:before{
  content: url(../images/icon-separator.png);
  position: relative;
  z-index: -1;
  bottom: -25px;
}

.content-about-subtitle{
  font-family: 'Stalemate', cursive;
  font-size: 70px;
  margin: 0;
}

.content-about-description{
  font-size: 25px;
  line-height: 1.6;
}



.section-motto{
  background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url(../images/sections-separator-img.jpg);
  height: 350px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-motto p{
  font-family: 'Stalemate', cursive;
  font-size: 70px;
  margin: 0;
  color: white;
}



.products-container{
  width: 100%;
  box-sizing: border-box;
  padding: 5% 5% 10%;
}

.products-items-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  justify-content: space-around;
  gap: 5%;
  padding: 3% 0;
}

.img-item-container{
  cursor: pointer;
  position: relative;
  display: block;
}

.img-container{
  margin: 0;
  height: 100%;
  width: 100%;
}

.img-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-description{
  background: rgba(0, 0, 0, .3);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  animation: pulse;
  animation-duration: 1s;
}


.img-description p{
  text-transform: uppercase;
  font-size: 30px;
}

.img-item-container:hover .img-description{
  display:flex;
  opacity: 1;
}


.button-container{
  max-width: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.products-button{
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: #a0642c;
}



.contact-section{
  background-color: #ebe2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-container{
  max-width: 700px;
  padding: 2% 5%;
}

.contact-description{
  padding: 0 15%;
}

.contact-form{
  padding: 3% 0;
  box-sizing: border-box;
}

.form-content {
  box-sizing: border-box;
  text-align: left;
}

.form-content input[type="text"], textarea {
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: white;
  border: none;
  border-radius: 5px;
}

.form-content input[type="submit"]{
  width: 100%;
  padding: 10px;
  border: none;
  color: white;
  font-weight: 700;
  background-color: #AE7954;
}

.contact-media{
  margin-top: 20px; 
}

.social-media-icons a{
  text-decoration: none;
  color: #A04D2C;
}



footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #36241B;
  color: white;
  font-size: 12px;
}


@media screen and (max-width: 769px){
  .nav-bar{
    height: 60px;
  }
  
  .hero-container h1{
    font-size: 130px;
  }

  .hero-container p, .section-motto p{
    font-size: 60px;
  }
}

@media screen and (max-width: 680px){
  .nav-bar{
    height: 50px;
  }
  
  .nav-bar-options li a{
    font-size: 15px;
  }

  .hero-container h1{
    font-size: 110px;
  }

  .hero-container p, .section-motto p{
    font-size: 55px;
  }

  .content-about-subtitle{
    font-size: 50px;
  }

  .content-about-description{
    font-size: 20px;
  }
  
  .products-container{
    height: 700px;
  }

  .products-items-container{
    grid-template-columns: minmax(300px, 500px);
    grid-template-rows: 130px 130px 130px;
    height:75%;
  }
}

@media screen and (max-width: 600px){
  .nav-bar-options li a{
    font-size: 12px;
    justify-self: center;
  }

  .hero-container h1{
    font-size: 90px;
  }

  .hero-container p, .section-motto p{
    font-size: 45px;
  }

  .section-id{
    font-size: 16px;
  }

  .content-about-subtitle{
    font-size: 40px;
  }

  .content-about-description{
    font-size: 16px;
  }
}

@media screen and (max-width: 540px){
  .burger-button{
    display: block;
  }

  .nav-bar{
    position: fixed;
    z-index: 1;
    top: 0;
    left: -100vw;
    width: 100vw;
    bottom: 0;
    background-color: rgba(54, 36, 27, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .8s;
    height: auto;
  }

  .nav-bar.is-active {
    left: 0;
    height: auto;
  }
  
  .nav-bar-options{
    display: block;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
  }

  .nav-bar-options li a {
    font-size: 20px;
  }


  @media screen and (max-width: 320px){
    .hero-container h1{
      font-size: 70px;
    }
  
    .hero-container p, .section-motto p{
      font-size: 38px;
    }

    .content-about-subtitle{
      font-size: 34px;
    }

    .content-about-description{
      font-size: 14px;
    }
  }
}